<!doctype html>
<html ng-app="tifference">
<head>
	<title>angularApp</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="local.js"></script>
</head>
<body ng-controller="getTimeController">
	
	<div>
		<div><h5>Start time</h5>
		<input type="number" placeholder="hh" ng-model="a" min="0" max="12">
		<input type="number" placeholder="mm" ng-model="b" min="0" max="59">
		<label for="getInAM"><input type="radio" value="0" name="ampmIn" ng-model="e">AM</label>
		<label for="getInPM"><input type="radio" value="12" name="ampmIn" ng-model="e">PM</label>
		</div>
		
		
		<div><h5>End time</h5>
			<input type="number" placeholder="hh" ng-model="c" min="0" max="12">
			<input type="number" placeholder="mm" ng-model="d" min="0" max="59">
			<label for="getInAM"><input type="radio" value="0" name="ampmOut" ng-model="f">AM</label>
			<label for="getInPM"><input type="radio" value="12" name="ampmOut" ng-model="f">PM</label>
		</div>
		
		<p ng-show="f==0 || f==12">DIFF = {{hdiff}} : {{mdiff}}</p>
	</div>
		
</body>
</html>
